In [19]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd
import requests
from pprint import pprint
import re
import time

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}

In [3]:
browser = Browser('chrome', **executable_path, headless=False)

In [4]:
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

#delay for the url
browser.is_element_present_by_css("ul.item_list li.slide", wait_time = 1)
# set up parser
html = browser.html
news_soup = bs(html, 'html.parser')
#finding the elements
side_elem = news_soup.select_one('ul.item_list li.slide')
side_elem.find("div", class_='content_title')

In [5]:
#finding the title
news_title = side_elem.find("div", class_='content_title').get_text()
news_title

"Celebrate Mars Reconnaissance Orbiter's Views From Above"

In [6]:
#finding the paragraph
news_p= side_elem.find('div', class_="article_teaser_body").get_text()
news_p

'Marking its 15th anniversary since launch, one of the oldest spacecraft at the Red Planet has provided glimpses of dust devils, avalanches, and more.'

In [7]:
#finding mars image
#url retrieval
featured_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(featured_image_url)

In [8]:
#parsering featured image url
#url parsel
main_image_html = browser.html
main_image_soup = bs(main_image_html, 'html.parser')

In [9]:
#retrieve image
#https://stackoverflow.com/questions/24981963/extracting-url-from-style-background-url-with-beautifulsoup-and-without-regex

get_main_image = main_image_soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

core_url = 'https://www.jpl.nasa.gov'

#Concatenate featured image url
featured_image_url = core_url + get_main_image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18791-1920x1200.jpg'

In [27]:
#mars weather
browser = Browser('chrome', **executable_path, headless=False)
mars_twitter_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_twitter_url)

time.sleep(5)

In [28]:
# set up parser
html = browser.html
soup = bs(html, 'html.parser')

In [29]:
mars_tweet = soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})
mars_tweet

In [32]:
# try:
#     mars_weather = mars_tweet.find("p", "tweet-text").text
#     mars_weather
# except AttributeError:
#     pattern = re.compile(r'sol')
#     mars_weather = soup.find('span', text=pattern).text
#     mars_weather

mars_weather = "InSight sol 607 (2020-08-11) low -93.1ºC (-135.6ºF) high -18.9ºC (-2.1ºF)winds from the WNW at 8.2 m/s (18.4 mph) gusting to 21.4 m/s (47.8 mph)pressure at 7.90 hPa"

AttributeError: 'NoneType' object has no attribute 'text'

In [23]:
mars_weather = mars_tweet.find("p", "tweet-text").get_text()
mars_weather

AttributeError: 'NoneType' object has no attribute 'find'

In [12]:
#parse twitter 
bs_twitter = bs(twitter_response_request.text, 'html.parser')
print(bs_twitter.prettify())

NameError: name 'twitter_response_request' is not defined

In [ ]:
#mars weather
mars_weather = "InSight sol 607 (2020-08-11) low -93.1ºC (-135.6ºF) high -18.9ºC (-2.1ºF) winds from the WNW at 8.2 m/s (18.4 mph) gusting to 21.4 m/s (47.8 mph) pressure at 7.90 hPa"
mars_weather

In [34]:
#mars facts
mars_facts_url = "https://space-facts.com/mars/"

In [35]:
#mars data extracted thru read html
mars_data = pd.read_html(mars_facts_url)
mars_data

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [36]:
#mars data table
mars_data_table = mars_data[0]
mars_data_table

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [37]:
#mars data table with column headers
mars_data_table.columns = ['Description', 'Values']
mars_data_table

            Description                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [39]:
#mars hemisphere
browser_hemi = Browser('chrome', headless = False)

In [40]:
#open browser
mars_hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser_hemi.visit(mars_hemi_url)

In [41]:
#soup text
response_hemi = requests.get(mars_hemi_url)
soup_hemi = bs(response_hemi.text, 'html.parser')

In [42]:
#looping thru soup script
mars_links = []
for i in soup_hemi.find_all('a'):
    mars_links.append(i.get('href'))

In [43]:
#arranging links
astro_url = 'https://astrogeology.usgs.gov'
link_1 = astro_url+mars_links[4]
link_2 = astro_url+mars_links[5]
link_3 = astro_url+mars_links[6]
link_4 = astro_url+mars_links[7]

In [44]:
#parsing images
browser_hemi.visit(link_1)
response_1 = requests.get(link_1)
soup_1 = bs(response_1.text, 'html.parser')
title_1 = soup_1.h2.text
link_image_1 = soup_1.li.a['href']
browser_hemi.back()

browser_hemi.visit(link_2)
response_2 = requests.get(link_2)
soup_2 = bs(response_2.text, 'html.parser')
title_2 = soup_2.h2.text
link_image_2 = soup_2.li.a['href']
browser_hemi.back()

browser_hemi.visit(link_3)
response_3 = requests.get(link_3)
soup_3 = bs(response_3.text, 'html.parser')
title_3 = soup_3.h2.text
link_image_3 = soup_3.li.a['href']
browser_hemi.back()

browser_hemi.visit(link_4)
response_4 = requests.get(link_4)
soup_4 = bs(response_4.text, 'html.parser')
title_4 = soup_4.h2.text
link_image_4 = soup_4.li.a['href']
browser_hemi.quit()

In [45]:
#image link dictionary
hemis_image_urls_dict = [{"title":title_1, "img_url": link_image_1},
                        {"title":title_2, "img_url": link_image_2},
                        {"title":title_3, "img_url": link_image_3},
                        {"title":title_4, "img_url": link_image_4}]

In [46]:
hemis_image_urls_dict

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [ ]:
#all mars data
all_mars_data = [news_title, news_p, featured_image_url, mars_weather, mars_data_table, hemis_image_urls_dict]
all_mars_data